.home-intro {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
    font-family: var(--font);
    overflow-x: hidden;
    cursor: none;
    
  }
 /*  .child {
    scroll-snap-align: center;
  } */


.overlayImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(../../img/profile.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    opacity: 0.4;
    z-index: -1;
    animation: homeImg 5s 1 ease-in;
    transition: all 0.8s ease;
    
    @media (max-width: 768px) {
      top: 10vh;
      bottom: 0;
    }
  }

  @keyframes homeImg {
    from {
      opacity: 1;
      transform: translateX(-50vw);
    }
    to {
      opacity: 0.4;
      transform: translateX(0);
    }
  }

  .overlay {
      background-color: rgba(0, 0, 0, 0.024);
      position: absolute;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      z-index: 50;
  }
/* ===================================================== */

.top-section {
    position: absolute;
    z-index: 2;
    top: 8vh;
    min-width: 400px;
    max-width: 700px;
    height: 92vh;
    top: 20%;
    left: 30%;
    transform: translateX(-50%);
    font-size: 3rem;
    color: var(--color-txt);

    
    h1 {
        font-weight: 700;
        font-size: 20rem;
        line-height: 10.3rem;
        text-shadow: 5px -2px #000;
      }
      h1:nth-child(2) {
        margin-left: 10rem;
      }
      h1:nth-child(3) {
        margin-left: 25rem;
      }
      h5 {
        font-weight: 200;
      }

      @media (max-width: 768px) {
        position: absolute;
        z-index: 2;
        width: 100vw;
        height: 92vh;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
          
        h1 {
          padding-left: 1rem;
          font-size: 7rem;
          line-height: 3.5rem;
        }
        h1:nth-child(2) {
          margin-left: 2rem;
        }
        h1:nth-child(3) {
          margin-left: 5rem;
          margin-bottom: 2rem;
        }
        h5 {
          padding: 0;
          margin: 0;
          width: 100vw;
          text-align: center;
          padding: 0;
          text-shadow: 2px 2px 3px rgba(0,0,0,0.8);
        }
      }
  }
/* ================================================================ */
  .mid-section-top {
      position: relative;
      margin: 100vh 0 0;
      width: 100vw;
      height: 90vh;
      color: var(--color-txt);
     
    h2 {
        position: relative;
        margin-top: 0;
        margin-left: 20rem;
        font-size: 6rem;
        line-height: 6rem;
        font-weight: 200;
        width: 1000px;
      }
      h2 > span {
        position: absolute;
        top: -3rem;
        left: -20rem;
        font-size: 30rem;
        height: fit-content;
        font-weight: 700;
        width: 1000px;
      }

      b {
        color: var(--color-txtSnd);
      }

      @media (max-width: 768px) {
        padding: 0 4.5rem 0 4.5rem;
        margin: 100vh 0 0;
        background-color: var(--color-bg);
        z-index: 2;

        h2 {
          position: relative;
          margin: 0;
          font-size: 2.5rem;
          line-height: 3rem;
          font-weight: 200;
          width: 100%;
        }
        h2 > span {
          position: relative;
          top: 0rem;
          left: 0rem;
          font-size: 5rem;
          
          font-weight: 700;
          width: 400px;
        }
      }
  }
  /* =========================================================== */
  .mid-section {
    color: var(--color-txt);
    font-family: var(--font);
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    line-height: 4rem;
    padding: 10rem;
    h2 {
        font-size: 5rem;
        font-weight: 200;
    }

    @media (max-width: 768px) {
      position: relative;
      height: 50vh;
      padding: 0 4rem 0;
      margin: 0 0 5rem 0;
      h2 {
        font-size: 4rem;
        line-height: 2.4rem;
      }
    }
  }

  .mid-section .highlight {
    font-weight: 700;
    font-size: 6rem;
    color: var(--color-txtSnd);

    @media (max-width: 768px) {
      font-size: 4rem;
      line-height: 3rem;
   }
  }

  .bottom-section {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    line-height: 4rem;
    color: var(--color-txt);

    @media (max-width: 768px) {
      width: 100%;
      height: 50vh;
      line-height: 2rem;
      padding: 4rem;
   }
  }

  .bottom-section-left {
    position: absolute;
    top: 10vh;
    left: 10vw;
    display: block;
    width: 40%;
    margin-bottom: 5rem;
    > h3 {
        font-size: 3rem;
        font-weight: 100;
      }
      @media (max-width: 768px) {
       width: 50%;

       h3 {
         font-size: 2rem;
       }
     }
  }

  .bottom-section-right {
    position: absolute;
    bottom: 10vh;
    right: 10vw;
    display: block;
    width: 40%;
    margin-bottom: 3rem;

    > h2 {
        font-size: 5rem;
        font-weight: 100;
      }

      @media (max-width: 768px) {
        padding: 2rem;
        top: 35vh;
        bottom: 5vh;
        right: 0rem;
        width: 70%;

        h2 {
          font-size: 2.5rem;
        }
     }
  }
 
  .bottom-section .bottom-section-left .highlight,
  .bottom-section .bottom-section-right .highlight {
    font-weight: 700;
    font-size: 5rem;
    color: var(--color-txtSnd);

    @media (max-width: 768px) {
      font-size: 2rem;
   }
  }
