.card {
    display: flex;
    height: 280px;
    width: 200px;
    background-color: var(--color-card-bg);
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;

    &:hover {
      transform: translateX(-2px);
    transition: 0.4s ease-out;
    
    }
  
    &:hover ~ & {
      position: relative;
      left: 2px;
      transition: 0.4s ease-out;
    }
  
    @media (max-width:900px) {
      height: 160px;
      width: 100px;
          
      }
}



.card-title {
    color: var(--color-txt);
    font-weight: 600;
    position: absolute;
    left: 20px;
    top: 15px;
    
    @media (max-width:1200px) {
        left: 10px;
        font-size: 0.8rem;
        word-break: break-all;
        }
}


.card-bar {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 5px;
    width: 150px;
  
    @media (max-width:1200px) {
      top: 70px;
      left: 10px;
      width: 90px;
          
      }
}


.emptyBar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
    @media (max-width:900px) {
        width: 90%;        
        }
}


.filledBar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 3px;
    height: 100%;
    background: linear-gradient(90deg, #9ccc9c 0%, #649568 65%,#149414 100%);
    transition: 0.6s ease-out;
  
    .card:hover & {
        width: 100%;
        transition: 0.4s ease-out;
        
        @media (max-width:900px) {
            width: 90%;        
            }
    }
}
  

.card-info {
    color: var(--color-txt);
    font-size: 13px;
    font-weight: 600;
    position: absolute;
    left: 12px;
    top: 155px;
    margin-right: 9px;
    
    @media (max-width:900px) {
        left: 10px;
        font-size: 0.4rem;
        left: 1rem;
        top: 5rem;
        word-break: break-all;
        }

}

