.projects {
    width: 100vw;
    height: 100%;
    overflow: hidden;
    display: flex;
}

.projects .wrapper {
    margin-top: 20vh;
    width: 100%;
    height: 100%;
    padding: 2rem;
}

.projects .wrapper h1 {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    font-size: 10rem;
    line-height: 3.5rem;
    text-shadow: -3px 3px 2px rgba(0,0,0,0.6);
    filter: drop-shadow(4px 4px rgba(0,0,0,.8));
    text-align: center;
}

.projects .container {
    margin: 20vh 0;
display: flex;
flex-flow: row wrap;
width: 100%;
height: 100%;
background-color: #92747c66;
color: #fff;


&>h1 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 0;
    margin-top: 100px;
}
&>h3 {
    margin-top: 0;
    text-align: center;
    font-size: 1.6rem;
}

@media (max-width:1200px) {

    
    &>h1 {
        font-size: 2rem;
    }
    &>h3 {
        font-size: 1rem;
        
        
    }
}
}

.repos {
    margin: 0 auto;
width: 90%;
display: flex;
flex-flow: row wrap;



@media (max-width:900px) {
    
    width: 90%;
    }
}

.repoBtn {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 8px 12px;
    background-color: #92747c;
    color: #fff;

    :hover {
        transform: scale(0.98);
        background-color: #fff;
        color: #282828;
    }
}