.header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 8vh;
    display: flex;
    align-items: center;
    background: var(--color-bg);
    z-index: 99;
    padding: 0.5rem;
}
    