.logo {
    position: relative;
    height: inherit;
    font-size: 3rem;
    width: 100%;
    color: var(--color-halloffame);
    z-index: 20;
    background: transparent;
    padding: 0.25rem 4rem;
  }
  
  .logo:before {
    content: "Be Creative!";
    position: absolute;
    left: 50%;
    transform: translateX(-100vw);
    top: 0.1rem;
    color: var(--color-txt);
    background: transparent;
    z-index: -10;
  }
  
  .logo:hover:before {
    transform: translateX(1rem);
    transition: all 0.8s ease-in-out;
    width: 200%;
    z-index: 1;
  }