.logo {
    position: relative;
    height: inherit;
    font-size: 3rem;
    width: 100%;
    color: var(--color-halloffame);
    z-index: 20;
    background: transparent;
    padding: 0.25rem 2rem;

    @media(max-width: 960px) {
     padding: 0.25rem 1rem;    
    }
  }
  
  .logo:before {
    content: "Be Creative!";
    position: absolute;
    left: 40%;
    transform: translateY(-100%);
    color: var(--color-txt);
    background: transparent;
    z-index: -10;

    @media(max-width: 960px) {
        visibility: hidden;
     }
  }
  
  .logo:hover :before {
    transform: translateY(0);
    transition: all 0.8s ease-in-out;
    width: 200%;
    z-index: 1;

    @media(max-width: 960px) {
      visibility: hidden;
    }
  }