@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Darker+Grotesque:wght@300;700&display=swap');

:root {
  --font: "Darker Grotesque", sans-serif;
  --big-font: "Libre Baskerville", serif;
  --color-bg: #1d1b1b;
  --color-bg-scnd: #92747c;
  --color-txt: #f4f4f8;
  --color-txtSnd: #ec4d37;
  --color-home: #27dfe6;
  --color-about: #aeadeeec;
  --color-history: #ddc123;
  --color-articles: #ee4e34;
  --color-articles-bg: #fcedda;
  --color-halloffame: #fff;
  --color-contacts: #f74c09;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  background: var(--color-bg);
  overflow-x: hidden;
  scroll-behavior: smooth;
  z-index: -10;
}